[submodule "static/plugin_d3/d3"]
	path = static/plugin_d3/d3
	url = https://github.com/mbostock/d3.git
[submodule "static/plugin_d3/dc"]
	path = static/plugin_d3/dc
	url = https://github.com/NickQiZhu/dc.js.git
[submodule "static/plugin_d3/crossfilter"]
	path = static/plugin_d3/crossfilter
	url = https://github.com/square/crossfilter.git
